body{
  margin:0;
  background-color: #f5f5f5;
}
.main-wrapper{
  background-color: #ffffff;
}
li{
  list-style: none;
}

  h1 {
    font-family: 'Sacramento', cursive;
    font: size 20px;
    letter-spacing: 0.2em;
}
h2{
  font-weight: normal;
}
img{
 width:100%;
 margin:0;
 vertical-align: bottom;
}
.main-img{
 height:250px
}
.main {
  position: relative;
  margin:0;
}
 h1{
  position: absolute ;
  left:30px;
  top:40px;
  color:#fff;
}

a { 
text-decoration:none;
}
.nav-wrap {
  position: relative;
}
.scroll-nav {
  width: 100%;
  background:#aaaaaa; /* メニューの背景色 */
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* 慣性スクロール */
}
.scroll-nav ul {
  max-width: 1060px; /* メニューの最大幅 */
  min-width: 770px; /* メニューの最小幅 */
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  list-style: none;
  padding-right: 25px; /* 右側の固定分余白を空ける */
}
.scroll-nav ul li {
  float: left;
  width: 150px; /* メニューの個別の幅 */
  text-align: center;
  
}
.scroll-nav a:hover {
  border-bottom: 2px solid floralwhite;
        background-color:#aaaaaa;
        opacity: 0.6;
}
.scroll-nav ul li+li{
  border-left: 1px solid floralwhite;
  box-sizing: border-box;
}
.scroll-nav ul li a {
  display: inline-block;
  color: floralwhite; /* メニューの文字色 */
  text-decoration: none;
}


.nav-wrap02{
  display:none;
}
.next-btn { /* 右側に固定する部分 */
  position: absolute;
  top: 0;
  right: 0;
  width: 25px; /* 固定部分の幅 */
  height: 40px; /* メニューの高さに合わせる */
  line-height: 40px;
  background: #f5f5f5;
  color: #555;
}
.main-wrapper{
  padding-top:80px;
  
}

.main-wrapper h2{
  border-left:4px solid black;
  margin-left:1em;
  padding-left:10px;

}
.sample {
  padding-top:20px;
}
.sample img{
  height:200px;
  padding-top:5px;
}
h3{
  font-weight: normal;
  font-size:18px;
}
.video{
  padding-top:20px;
}
.video img{
  height:200px;
  padding-top:5px;
}
.main-wrapper p{
  margin-bottom: 0;
}

aside{
  display:none;
  background-color: #ffffff;
}
.acsess {
  padding-top: 80px;
  vertical-align: 0;
  background-color: #ffffff;
}
.acsess h2{
  border-left:4px solid black;
  margin-left:1em;
  padding-left:10px;
}
.acsess table th,.acsess table td{
  padding-top:20px;
 text-align: left;
 vertical-align: top;
}
.map{
  padding-top:30px;
  width:100%;
}
iframe{
  vertical-align:bottom;
  }
.form{
  background-color: #fff;
  padding-top:80px;
}
.form h2{
  border-left:4px solid black;
  margin-left:1em;
  padding-left:10px;
}
form{
  padding-top:20px;
  padding-bottom:30px
  
}
form dl dt{
  width:165px;
  padding:10px 0;
  float:left;
  clear: left;
}
form dl dd{
  padding:10px 10px;
  display:table-cell;
}
form .name,.email {
  width:200px;
  height:20px;
}
form .message{
  width:200px;
  height:70px;
}

button{
  padding:10px 100px;
  background-color:#1e90ff;
  color:floralwhite;
  font-size:14px;
  border-radius: 5px;
  margin-left:150px;
}
button:hover{
  opacity: 0.9;
}

footer{
  height:50px;
  background-color:#cccccc;
  text-align: center;
}
footer p{
  padding-top:12px;
  color:#fffaf0;
  vertical-align: bottom;
  margin:0;
}

/*midle screen*/
@media(min-width:600px){

}

/*large screen*/
@media(min-width:800px){
 body{
   width:800px;
   margin-left:auto;
   margin-right:auto;
 }
 .main-img{
   width:800px;
   height:300px;
 }
aside{
  display:block;
  width:200px;
  padding-top:220px;
  padding-left:30px;
}
aside h3{
  font-size:14px;
  font-weight:normal;
  border-bottom:1px solid #c0c0c0;
}
.aside01{
  padding-top:30px;
}
.aside02{
  padding-top:50px;
}
aside h2{
  border-left:4px solid #ff5bb6;
  padding-left:10px; 
  
  
}
.main-wrapper{
  flex:1;
}
 .container{
   display:flex;
 }
 .nav-wrap{
   display:none;
 }
 .nav-wrap02{
   display:block;
   background-color:#aaaaaa;
   width:800px;
   height:40px;
  
 }
 .large-nav02{
  display:flex;
  align-items: center;
  justify-content: center;
   margin:0;
   padding:0;
 }
.scroll-nav02 ul li{
position: relative;
width:20%;
text-align: center;
}
.scroll-nav02 ul li:not(:first-child)::before{
  content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0;
    height: 80%;
    border-left: 1px solid floralwhite;
}
.scroll-nav02 ul li a{ 
  color:floralwhite;
  display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center; 
}
.scroll-nav02 ul li a:hover{
  border-bottom: 2px solid floralwhite;
        background-color:#aaaaaa;
        opacity: 0.6;
}
.side-nav01{
  width:200px;
  
}
.side-nav01 li a{
  display: block;
  width:100%;
 
}
.side-nav01 li a:hover{
  border-bottom: 2px solid black;
        background-color:#fff;
        opacity: 0.6;
}
.side-nav02{
  width:200px;
  
}
.side-nav02 li a{
  display: block;
  width:100%;
 
}
.side-nav02 li a:hover{
  border-bottom: 2px solid black;
        background-color:#fff;
        opacity: 0.6;
}

.form-res{
  display: flex;
  justify-content: center;
  align-items: center;
}
form .name,.email {
  width:300px;
  height:20px;
}
form .message{
  width:300px;
  height:100px;
}
button{
  padding:10px 200px;
  margin:0 auto;
}
}




